<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {{!-- Font-Awesome --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {{!-- bootstrap --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {{!-- Link CSS --}}
    <link rel="stylesheet" href="css/manageProduct.css">
</head>

<body>
    {{!-- BANNER --}}
    <section class="banner">
        <img src="images/banner-toys.png" alt="banner">
    </section>
    {{!-- HEADER --}}
    <header>
        <div class="header__content">
            <div class="header__logo">
                <a href="/">
                    <i class="fab fa-themeisle"></i>
                    <h1>H&M Shop</h1>
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="/logout" onclick="alert('Logout success!')">Log out</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {{!-- Form --}}
    <div class="form__Manage">
        <form action="/update" method="POST">
            <fieldset>
                <h2>Update Product</h2>
                <input type="hidden" name="id" value="{{product._id}}">
                <input type="text" name="txtName" placeholder="Name" value="{{product.name}}">
                <br>
                <h3 style="color: red;">{{nameError}}</h3>
                <br>
                <input type="text" name="txtPrice" placeholder="Price" value="{{product.price}}">
                <br>
                <h3 style="color: red;">{{priceError}}</h3>
                <br>
                <textarea name="txtDescription" id="" cols="35" placeholder="Message...">{{product.description}}</textarea>
                <br><br>
                <input type="submit" value="Update Product">
            </fieldset>
            <h1>hi</h1>
        </form>
    </div>

</body>

</html>